/* ---------------------------------------------
        GENERAL
------------------------------------------------ */
html {
  scroll-behavior: smooth;
}

/* ---------------------------------------------
        LAYOUT/POSITIONING PAGE ELEMENTS
------------------------------------------------ */

header {
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

article {
  padding: 50px;
  border-radius: 15px;
  background-color: blanchedalmond;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll,
article {
  position: relative;
  max-width: 700px;
  margin: 3em auto;
}

.scroll a {
  text-decoration: none;
  color: black;
}

.scroll a:hover {
  font-weight: bold;
  cursor: pointer;
}

.scroll ul {
  list-style-type: circle;
}

li span {
  text-decoration: underline;
}

.proj_container,
.form,
.request {
  border: 2px solid black;
  max-width: 700px;
  border-radius: 15px;
  margin: 3em auto;
  padding: 50px;
}

.google_login {
  border: 2px solid rgb(214, 214, 214);
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

/* ---------------------------------------------
        TEAM PAGE
------------------------------------------------ */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aliceblue;
}

.team-heading {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(0, 255, 255, 0.14);
  border: 1px solid black;
  border-radius: 25px;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  /* Space between the member info and the paragraph */
}

.member-info h2,
.member-info h3 {
  margin: 0;
}

.team-member p {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.team-member img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 8px;
}

/* ---------------------------------------------
        INDEX CARD SHUFFLE AND MAP
------------------------------------------------ */
#map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.projects-container {
  padding: 10px;
  margin-top: 30px;
  overflow: auto;
}

.proj-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 300px;
  height: auto;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.proj-card {
  border: 2px solid blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px;
  min-width: 100%;
  flex-shrink: 0;
}

.cycle-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#backbtn,
#nextbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* ---------------------------------------------
        PROJECT CARDS
------------------------------------------------ */
.requests-container {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.req-grid {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------
        NAVIGATION
------------------------------------------------ */
nav {
  background-color: blanchedalmond;
  display: flex;
  z-index: 9999;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav li {
  list-style-type: none;
  padding: 5px 1em;
}

nav a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

nav .logo img {
  width: 190px;
  position: absolute;
  top: 9px;
  left: 15px;
}

.login img {
  width: 60px;
}

.all-over-bkg {
  display: none;
}

.is-visible {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: block;
}

#side_nav {
  z-index: 10000;
}

.side_nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: burlywood;
  width: 0;
}

#side_nav ul {
  display: block;
}

.open {
  width: 80px;
}

.openbtn {
  position: fixed;
  right: 20px;
  top: 20px;
  color: black;
  cursor: pointer;
}

.menu-button {
  font-size: 30px !important;
  position: relative;
  top: 0;
  right: -4px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  text-decoration: none;
}

.closebtn {
  position: absolute;
  top: 30px;
  right: 5px;
  font-size: 30px;
  margin-right: 50px;
  cursor: pointer;
}

#side_nav li {
  padding: 10px;
  margin: 0;
}

/* ---------------------------------------------
        FOOTER
------------------------------------------------ */

footer {
  background-color: gray;
  display: flex;
  margin: 0 auto;
}

footer h5 {
  margin: 2em 8em;
  font-size: 14px;
}

footer ul {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  font-size: 12px;
  margin-left: -100px;
  color: white;
}

footer a:hover {
  color: black;
  cursor: pointer;
}

/* ---------------------------------------------
        PHOTO GALLERY
------------------------------------------------ */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}
/* ---------------------------------------------
        Table
------------------------------------------------ */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
table th, td {
  padding: 12px;
  border: 1px solid #ddd;
  color: black;
}

table tr:nth-child(even) {
  background: #f2f2f2;
}
/* ---------------------------------------------
        Button

.donate-btn {
  background: #ff4500;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}
.donate-btn:hover {
  background: #cc3700;
}
-------------------------------------------------*/