.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aliceblue;
}

.team-heading {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(0, 255, 255, 0.14);
  border: 1px solid black;
  border-radius: 25px;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  /* Space between the member info and the paragraph */
}

.member-info h2,
.member-info h3 {
  margin: 0;
}

.team-member p {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.team-member img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 8px;
}
/* ---------------------------------------------
        GENERAL
------------------------------------------------ */
body {
  /* Forces scroll for now */
  height: 2000px;
}

html {
  scroll-behavior: smooth;
}
/* ---------------------------------------------
        LAYOUT/POSITIONING PAGE ELEMENTS
------------------------------------------------ */
header {
  text-align: center;
  padding: 70px 20px 0;
}

.map {
  border: 2px solid black;
  margin: 3em auto;
  padding: 50px;
  max-width: 700px;
}

h1 {
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

article {
  padding: 50px;
  border-radius: 15px;
  background-color: blanchedalmond;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll,
article {
  position: relative;
  max-width: 700px;
  margin: 3em auto;
}

.scroll a {
  text-decoration: none;
  color: black;
}

.scroll a:hover {
  font-weight: bold;
  cursor: pointer;
}

.scroll ul {
  list-style-type: circle;
}

li span {
  text-decoration: underline;
}

/* ---------------------------------------------
        NAVIGATION
------------------------------------------------ */
nav,
.nav {
  background-color: blanchedalmond;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
  border-radius: 5px;
  width: 100%;
}

.nav {
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  color: black;
}

nav li {
  list-style-type: none;
  padding: 5px 2em;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav h3 a {
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

a:hover {
  font-weight: bold;
}
