/* ---------------------------------------------
        GENERAL
------------------------------------------------ */
html {
  scroll-behavior: smooth;
}

/* ---------------------------------------------
        LAYOUT/POSITIONING PAGE ELEMENTS
------------------------------------------------ */
#home {
  position: relative;
  height: 400px;
  background: url(../img/home.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  max-width: 750px;
  background-color: rgba(255, 235, 205, 0.159);
  border: 1px solid rgba(128, 128, 128, 0.15);
  margin: 0 auto;
  border-radius: 5px;
}

header {
  text-align: center;
  padding-top: 100px;
  font-family: sans-serif;
}

header h1 {
  font-weight: normal;
  width: 500px;
  margin: 1em auto;
  background: rgba(255, 255, 255, 0.569);
}

h1 span {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px rgb(122, 122, 122);
}

p.intro {
  text-align: left;
}

article {
  padding: 50px;
  border-radius: 15px;
  background-color: blanchedalmond;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll,
article {
  position: relative;
  max-width: 700px;
  margin: 3em auto;
}

.intro p {
  max-width: 500px;
  text-align: center;
  margin: 4em auto;
}

.scroll a {
  text-decoration: none;
  color: black;
}

.scroll a:hover {
  font-weight: bold;
  cursor: pointer;
}

.scroll ul {
  list-style-type: circle;
}

li span {
  text-decoration: underline;
}

.proj_container,
.form {
  text-align: center;
  border: 2px solid rgba(128, 128, 128, 0.577);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: blanchedalmond;
  max-width: 700px;
  border-radius: 15px;
  margin: 3em auto;
  padding: 50px;
}

.google_login {
  border: 2px solid rgb(214, 214, 214);
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.account-details {
  background-color: blanchedalmond;
  max-width: 700px;
  margin: 4em auto;
  padding: 50px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 10px;
}

/* ---------------------------------------------
        WHATSAPP MESSENGER TOOL
------------------------------------------------ */
#chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#chat-button-close {
  position: fixed;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 1000;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chat-popup button {
  background-color: blanchedalmond;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* ---------------------------------------------
        FORM/INPUT
------------------------------------------------ */
.request_type {
  margin: 1em;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid rgba(64, 64, 64, 0.629);
  background-color: white;
}

.select_date {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project_details h2 {
  text-align: center;
}

.large_input {
  height: 100px;
}

.details_container {
  border-top: 1px solid grey;
  margin: 1em;
  padding: 30px 0;
}

.date_input {
  display: flex;
  flex-direction: column;
}

input[type="text"]:focus {
  outline: none;
  border: 3px solid #555;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 200px;
  font-size: 16px;
  cursor: pointer;
}

.form {
  text-align: left;
}

.form_container {
  padding: 10px;
  margin: 30px auto;
  max-width: 700px;
}

/* ---------------------------------------------
        TEAM PAGE
------------------------------------------------ */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aliceblue;
}

.team-heading {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(0, 255, 255, 0.14);
  border: 1px solid black;
  border-radius: 25px;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  /* Space between the member info and the paragraph */
}

.member-info h2,
.member-info h3 {
  margin: 0;
}

.team-member p {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.team-member img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 8px;
}

/* ---------------------------------------------
        INDEX CARD SHUFFLE AND MAP
------------------------------------------------ */
#map {
  flex: 1;
  height: 400px;
  width: 80%;
  margin: 1em auto;
  border-radius: 10px;
}

.map-container {
  display: flex;
  padding: 20px;
  margin: 1em auto;
  border-top: 1px solid rgb(183, 183, 183);
  border-bottom: 1px solid rgb(183, 183, 183);
}

.map-text {
  flex: 1;
  max-width: 40%;
}

.project_details {
  border: 2px solid grey;
  border-radius: 3px;
  padding: 10px;
}

.req-grid {
  display: flex;
  flex-direction: column;
}

.button,
.back,
.button_home {
  text-decoration: none;
  color: black;
}

.goback {
  position: relative;
  text-align: left;
}

.back:hover {
  text-decoration: underline;
}

.button,
.button_home,
input[type="submit"] {
  border: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.156);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.button_home {
  margin-top: 100px;
  background-color: rgba(128, 128, 128, 0.714);
}

.button:hover,
.button_home,
input[type="submit"]:hover {
  transform: scale(1.1);
  font-weight: normal;
  cursor: pointer;
}

/* ---------------------------------------------
        PROJECT CARDS
------------------------------------------------ */

.projects-container,
.all_projects {
  padding: 10px;
  margin: 30px auto;
  max-width: 900px;
  text-align: center;
  background-color: blanchedalmond;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

p.italic {
  font-style: italic;
  margin-top: 4px;
}

p.underline {
  text-decoration: underline;
  margin-bottom: 2px;
}

.proj-grid {
  display: flex;
  flex-direction: column;
  position: relative;
}

.proj-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.proj-card {
  background-color: rgba(128, 128, 128, 0.233);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 90%;
  margin: 1em auto;
}

.proj-image {
  margin: 1em auto;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

/* ---------------------------------------------
        NAVIGATION
------------------------------------------------ */
.account-dropdown {
  position: relative;
  display: inline-block;
}

.account-dropdown img {
  width: 30px;
  height: 30px;
}

img.account-icon {
  padding-right: 5px;
}

img.request-icon {
  height: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  top: 100%;
  left: 0;
  font-size: 14px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0, 2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.account-dropdown:hover .dropdown-content {
  display: block;
}

nav {
  background-color: blanchedalmond;
  display: flex;
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav li {
  list-style-type: none;
  padding: 5px 1em;
}

nav a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

nav .logo img {
  width: 190px;
  position: absolute;
  top: 9px;
  left: 15px;
}

.all-over-bkg {
  display: none;
}

.is-visible {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: block;
}

#side_nav {
  z-index: 10000;
}

.side_nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: burlywood;
  width: 0;
}

#side_nav ul {
  display: block;
}

.open {
  width: 80px;
}

.openbtn {
  position: fixed;
  right: 20px;
  top: 20px;
  color: black;
  cursor: pointer;
}

.menu-button {
  font-size: 30px !important;
  position: relative;
  top: 0;
  right: -4px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  text-decoration: none;
}

.closebtn {
  position: absolute;
  top: 30px;
  right: 5px;
  font-size: 30px;
  margin-right: 50px;
  cursor: pointer;
}

#side_nav li {
  padding: 10px;
  margin: 0;
}

/* ---------------------------------------------
        FOOTER
------------------------------------------------ */

footer {
  background-color: gray;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

footer h5 {
  margin: 2em 8em;
  font-size: 14px;
}

footer ul {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  font-size: 12px;
  margin-left: -100px;
  color: white;
}

footer a:hover {
  color: black;
  cursor: pointer;
}

/* ---------------------------------------------
        PHOTO GALLERY
------------------------------------------------ */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
  padding: 20px;
}

.gallery-section {
  margin-bottom: 60px;
  /* Space between sections */
  width: 80%;
  /* Adjust width as needed */
  max-width: 1200px;
  /* Maximum width for larger screens */
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  /* Space between images */
  justify-items: center;
  position: relative;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:nth-child(1) {
  z-index: 3;
}

.gallery img:nth-child(2) {
  z-index: 2;
  transform: rotate(-5deg);
}

.gallery img:nth-child(3) {
  z-index: 1;
  transform: rotate(5deg);
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  /* Ensure the lightbox is on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

/* ---------------------------------------------
        About Page
------------------------------------------------ */
.about-container img {
  width: 500px;
  align-self: center;
  border: 2px solid black;
  border-radius: 8px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 50px;
  width: 700px;
  margin: 4em auto;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 10px;
}

/* ---------------------------------------------
        Table
------------------------------------------------ */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

table th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  color: black;
}

table tr:nth-child(even) {
  background: #f2f2f2;
}

/* ---------------------------------------------
      MEDIA QUERIES
------------------------------------------------ */
@media (min-width: 768px) {
  .proj-grid {
    flex-direction: row;
  }

  .proj-card {
    margin: 10px;
  }

  .select_date {
    flex-direction: row;
  }

  input[type="date"] {
    width: 400px;
    margin: 0 1em 0 0;
  }

  .proj-image {
    display: block;
    width: 200px;
    height: 100px;
    margin: 0;
    padding: 0;
  }
}

/* ---------------------------------------------
      PROGRESS BAR
------------------------------------------------ */
.progress-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar {
  height: 10px;
  background: #28a745;
}
